<section class="btn-container">
	<h3>Button 的使用方法</h3>
	<h4>基础用法</h4>
	{{#bp-button}}default{{/bp-button}}
	{{#code-block src="template.hbs" language='handlebars' }}
		{{btnDefault}}
	{{/code-block}}
	{{#bp-button type="primary"}}Primary{{/bp-button}}
	{{#code-block src="template.hbs" language='handlebars' }}
		{{btnPrimary}}
	{{/code-block}}
	<hr>
	<h4>禁止属性 disabled</h4>
	{{#bp-button disabled=true}}disabled button{{/bp-button}}
	{{#code-block src="template.hbs" language='handlebars' }}
		{{btnDisabled}}
	{{/code-block}}
	<hr>
	<h4>块级属性 block</h4>
	{{#bp-button block=true onClick=(action 'submit')}}block button{{/bp-button}}
	{{#code-block src="template.hbs" language='handlebars' }}
		{{btnBlock}}
	{{/code-block}}
	<hr>
	<h4>基础的类型</h4>
	{{#bp-button type="primary" onClick=(action 'submit')}}primary{{/bp-button}}
	{{#bp-button type="danger" onClick=(action 'submit')}}danger{{/bp-button}}
	{{#bp-button type="warning" onClick=(action 'submit')}}Warning{{/bp-button}}
	{{#bp-button type="link" onClick=(action 'submit')}}Link{{/bp-button}}
	{{#bp-button type="link-subtle" onClick=(action 'submit')}}Link-Subtle{{/bp-button}}
	{{#bp-button type="subtle" onClick=(action 'submit')}}Subtle{{/bp-button}}
	{{#bp-button type="default" onClick=(action 'submit')}}default{{/bp-button}}
	{{#code-block language='handlebars'}}
		{{btnBasic}}
	{{/code-block}}
	<div class="dropdown-divider"></div>
	<p class="mt-3">Disabled</p>
	{{#bp-button type="primary" disabled=true onClick=(action 'submit')}}primary{{/bp-button}}
	{{#bp-button type="danger" disabled=true onClick=(action 'submit')}}danger{{/bp-button}}
	{{#bp-button type="warning" disabled=true onClick=(action 'submit')}}Warning{{/bp-button}}
	{{#bp-button type="link" disabled=true onClick=(action 'submit')}}Link{{/bp-button}}
	{{#bp-button type="link-subtle" disabled=true onClick=(action 'submit')}}Link-Subtle{{/bp-button}}
	{{#bp-button type="subtle" disabled=true onClick=(action 'submit')}}Subtle{{/bp-button}}
	{{#bp-button type="default" disabled=true}}disabled default{{/bp-button}}
	{{#code-block src="template.hbs" language='handlebars'}}
		{{btnTotalDisabled}}
	{{/code-block}}
	<div class="dropdown-divider"></div>
	<p class="mt-3">With Icon</p>
	{{#bp-button class="mr-3" type="default"
		icon="raised-hand"
		iconColor='green'}}
		RaisedHand
	{{/bp-button}}
	{{#bp-button type="default"
		iconOnly=true
		icon="trash"
		iconColor='red'}}
		Default
	{{/bp-button}}
	{{#bp-button type="default"
		iconOnly=true
		icon="abord"
		iconColor='red'}}
		Abord
	{{/bp-button}}
	{{#bp-button type="default"}}
		{{bp-icon icon="add" color="orange"}}
		Add
	{{/bp-button}}
	{{#code-block src="template.hbs" language='handlebars'}}
		{{btnIcon}}
	{{/code-block}}
	<p>{{someoneClickBtn}}</p>
</section>