<section>
	<h3>bp-dropdown</h3>
	<p>其中 bp-dropdown.button 为要选中的内容或默认值</p>
	<p>bp-dropdown.menu 为下拉展示栏</p>
	<p> menu.option 为选项。接受 value 参数以及 onClick 方法。
		其中 value 为item项目，具体展示值在 option 内部自主选择。
	</p>
	<h4>method</h4>
	<p>onClick 点击选项之后的操作</p>
	{{#bp-dropdown as |dd|}}
		{{#dd.button }}
			{{#if dropdownValue.value}}
				<p>{{dropdownValue.value}}</p>
			{{else}}
				请选择
			{{/if}}
			{{bp-icon icon='down'}}
		{{/dd.button}}
		{{#dd.menu as |menu|}}
			{{#each model.keyValue as |item|}}
				{{#menu.option value=item onClick=(action (mut dropdownValue))}}
					{{item.value}}
				{{/menu.option}}
			{{/each}}
		{{/dd.menu}}
	{{/bp-dropdown}}
	<div class="dropdown-divider"></div>
	<table class="table">
		<thead class="thead-light">
			<th>Property</th>
			<th>value</th>
		</thead>
		<tbody>
			<tr>
				<td>value</td>
				<td>{{dropdownValue.value}}</td>
			</tr>
			<tr>
				<td>id</td>
				<td>{{dropdownValue.id}}</td>
			</tr>
		</tbody>
	</table>
	{{#code-block src="template.hbs" language='handlebars' }}
		{{dropdownCode}}
	{{/code-block}}
	<h4>simple use</h4>
	{{bp-dropdown-simple
		title='choose your favorit'
		desc='which one?'
		choosedValue=simpleChoosedValue
		options=model.keyName
		optionKey='name'}}
	{{#code-block src="template.hbs" language='handlebars' }}
		{{simpleUse}}
	{{/code-block}}
	<table class="table">
		<thead class="thead-light">
			<th>Property</th>
			<th>value</th>
		</thead>
		<tbody>
			<tr>
				<td>value</td>
				<td>{{simpleChoosedValue.name}}</td>
			</tr>
			<tr>
				<td>id</td>
				<td>{{simpleChoosedValue.id}}</td>
			</tr>
		</tbody>
	</table>
</section>