<section>
	<h3>bp-dropdown</h3>
	<p>其中 button 为要选中的内容或默认值</p>
	<p> option 为选项。接受 value 参数以及 onClick 方法。其中 value 为选中后要展示的值，
		onClick 方法为
	</p>
	{{#bp-dropdown as |dd|}}
		{{#dd.button }}
			{{#if dropdownValue.value}}
				<p>{{dropdownValue.value}}</p>
			{{else}}
				请选择
			{{/if}}
			{{bp-icon icon='down'}}
		{{/dd.button}}
		{{#dd.menu as |menu|}}
			{{#each model as |item|}}
				{{#menu.option value=item onClick=(action (mut dropdownValue))}}
					{{item.value}}
				{{/menu.option}}
			{{/each}}
		{{/dd.menu}}
	{{/bp-dropdown}}
	<div class="dropdown-divider"></div>
	<table class="table">
		<thead class="thead-light">
			<th>Property</th>
			<th>value</th>
		</thead>
		<tbody>
			<tr>
				<td>value</td>
				<td>{{dropdownValue.value}}</td>
			</tr>
			<tr>
				<td>id</td>
				<td>{{dropdownValue.id}}</td>
			</tr>
		</tbody>
	</table>
</section>