<h3>bp-pagination</h3>
<p>one page</p>
{{bp-pagination
	totalPageCounts=1
	onClickPage=(action ( mut onlyonepage))}}
<p>{{onlyonepage}}</p>
{{#code-block src="template.hbs" language='handlebars' }}
	{{onePage}}
{{/code-block}}
<div class="dropdown-divider"></div>
{{bp-pagination
	totalPageCounts=5
	onClickPage=(action ( mut handlePage))}}
<p>{{handlePage}}</p>
{{#code-block src="template.hbs" language='handlebars' }}
	{{lessSeven}}
{{/code-block}}
<div class="dropdown-divider"></div>
{{bp-pagination
	totalPageCounts=7
	onClickPage=(action ( mut handlePage12))}}
<p>{{handlePage12}}</p>
{{#code-block src="template.hbs" language='handlebars' }}
	{{sevenPage}}
{{/code-block}}
<div class="dropdown-divider"></div>
{{bp-pagination
	totalPageCounts=10
	onClickPage=(action ( mut handlePage2))}}
<p>{{handlePage2}}</p>
{{#code-block src="template.hbs" language='handlebars' }}
	{{moreThanSeven}}
{{/code-block}}
<div class="dropdown-divider"></div>
{{bp-pagination
	totalPageCounts=50
	onClickPage=(action ( mut handlePage3))}}
<p>{{handlePage3}}</p>
{{#code-block src="template.hbs" language='handlebars' }}
	{{tooMore}}
{{/code-block}}
<div class="dropdown-divider"></div>
<h4>bp-pagination-mini</h4>
{{bp-pagination/mini
	totalPageCounts=5 
	onClickPage=(action (mut handlePageMini))}}
<p>{{handlePageMini}}</p>
{{#code-block src="template.hbs" language='handlebars' }}
	{{mini}}
{{/code-block}}
<div class="dropdown-divider"></div>
<h4>bp-pagination-simple</h4>
{{bp-pagination/simple
	totalPageCounts=55
	onClickPage=(action (mut handlePageSimple))}}
<p>{{handlePageSimple}}</p>
{{#code-block src="template.hbs" language='handlebars' }}
	{{simple}}
{{/code-block}}