<section class="incon-container">
	<h2>Icon</h2>
	<p>提供了一些目前项目中可能会用到的 icon 。</p>
	<h3>使用方法</h3>
	<p>通过使用 bp-icon 这个组件，将要使用的 iconName 传递给此组件的 icon 属性即可。</p>
	<p>{{bp-icon icon='abord'}}、{{bp-icon icon='add'}}、{{bp-icon icon='check-circle'}}</p>
	<p>
		{{#code-block src="template.hbs" language='handlebars'}}
			{{overview}}
		{{/code-block}}
	</p>
	<p>如果需要更改图标的颜色，可以使用以下方式</p>
	<p local-class="colorful">{{bp-icon icon='abord'}}、{{bp-icon icon='add'}}、{{bp-icon icon='check-circle'}}</p>
	<p>
		{{#code-block src="template.hbs" language='handlebars'}}
			{{overviewColorful}}
		{{/code-block}}
	</p>
	<p>当有的图表的颜色是写在了图标的 svg 代码内的时候，需要使用另一种方式更改颜色</p>
	<p local-class="inside-colorful">{{bp-icon icon='check-circle'}}</p>
	<p>
		{{#code-block src="template.hbs" language='handlebars'}}
			{{insideColorful}}
		{{/code-block}}
	</p>
	<p>提供了三种大小的 icon，通过设置 size 参数为 ‘large’ ‘medium’ ‘small’</p>
	<p>
		{{bp-icon icon='check-circle' size='large'}}
		{{bp-icon icon='check-circle' size='medium'}}
		{{bp-icon icon='check-circle' size='small'}}
	</p>
	<p>
		{{#code-block src="template.hbs" language='handlebars'}}
			{{iconSize}}
		{{/code-block}}
	</p>
	{{#bp-dropdown as |dd|}}
		{{#dd.button }}
			{{#if size}}
				<p>{{size}}</p>
			{{else}}
				请选择
			{{/if}}
			{{bp-icon icon='down'}}
		{{/dd.button}}
		{{#dd.menu as |menu|}}
			{{#each sizeList as |item|}}
				{{#menu.option value=item onClick=(action (mut size))}}
					{{item}}
				{{/menu.option}}
			{{/each}}
		{{/dd.menu}}
	{{/bp-dropdown}}
	<h3>图表集合</h3>
	<p>点击即可复制到 handlebars 文件中使用</p>
	{{#bp-layout main='' wrap=true local-class='icons-container'}}
		{{#each icons as |icon|}}
			{{#bp-layout direction='col' main='around' local-class='icon-container' click=(action 'copy' icon)}}
				<p>{{bp-icon icon=icon size=size}}</p>
				<p>{{icon}}</p>
			{{/bp-layout}}
		{{/each}}
	{{/bp-layout}}
</section>