<h3>bp-search-bar的用法</h3>
{{bp-search-bar size='small' placeholder="small input" }}
{{bp-search-bar }}
{{bp-search-bar size='large' placeholder="large Input" }}
<h3>block 为true</h3>
{{bp-search-bar block=true 
	size='small' 
	placeholder="small input" 
	onClick=(action (mut searchValue))}}
<p>您将要搜索：{{searchValue}}</p>
{{bp-search-bar block=true onClick=(action (mut searchValue2))}}
<p>您将要搜索：{{searchValue2}}</p>
{{bp-search-bar block=true size='large' placeholder="large Input" 
	onClick=(action  (mut searchValue3))}}
<p>您将要搜索：{{searchValue3}}</p>