{{!-- <h2>this is dashboard example.</h2>
{{bp-dashboard dashboardModel=model.config }}
<h2>this example is for right legend that the line chart.</h2>
{{bp-dashboard dashboardModel=model.rightLegendConfig}}
<h2>This is row example.For bar</h2>
{{#each model.rowConfigs as |row|}}
	{{bp-row direction='col' rowModel=row}}
{{/each}}
<div class="dropdown-divided"></div>
<h2>This is radar example</h2>
{{#bp-layout}}
	<div local-class='radar-left'>
		{{bp-row direction='col' rowModel=model.radar }}
	</div>
	<div local-class='radar-right'>
		{{bp-row direction='col'  rowModel=model.circle}}
	</div>
{{/bp-layout}}
<h2>This example is for double pies chart</h2>
{{bp-row direction='col' rowModel=model.doubleCircle}}
<div class="dropdown-divider"></div>
<h2>This chart for bar & line</h2>
{{bp-row direction='col' rowModel=model.barLine}}
<div class="dropdown-divider"></div>
<h2>This chart for stack - bar</h2>
{{bp-row direction='col' rowModel=model.barStack}} --}}
<h3>Monitoring example</h3>
<h4>CPU</h4>
{{bp-row direction='col' rowModel=model.monitoring conditions=model.monitoringCondition}}
<h3>TMIST Charts</h3>
<h4>参考信息-团队成员信息</h4>
{{bp-row direction='col' rowModel=model.tmRadar conditions=model.tmRadarCondition}}
<h4>产品竞品信息-药品份额竞争趋势</h4>
{{bp-row direction='col' rowModel=model.tmProdsLines conditions=model.tmProdsLinesCondition}}
<div class="dropdown-divider"></div>
<h4>历史销售报告-产品销售报告</h4>
{{#bp-layout}}
	<div local-class='circle-left'>
		{{bp-row direction='col' rowModel=model.tmProductCircle0 conditions=model.tmProductCircle0Condition}}
	</div>
	<div local-class='circle-right'>
		{{bp-row direction='col'  rowModel=model.tmProductCircle1 conditions=model.tmProductCircle0Condition}}
	</div>
{{/bp-layout}}
{{bp-row direction='col' rowModel=model.tmProductBarLine0 conditions=model.tmProductBarLineCondition}}
<div class="dropdown-divider"></div>
<h4>历史销售报告-区域销售报告</h4>
{{#bp-layout}}
	<div local-class='circle-left'>
		{{bp-row direction='col' rowModel=model.tmRegionCircle0 conditions=model.tmRegionCircleCondition}}
	</div>
	<div local-class='circle-right'>
		{{bp-row direction='col'  rowModel=model.tmRegionCircle1 conditions=model.tmRegionCircleCondition}}
	</div>
{{/bp-layout}}
{{bp-row direction='col' rowModel=model.tmRegionBarLine0 conditions=model.tmRegionBarLineCondition}}
<div class="dropdown-divider"></div>
<h4>历史销售报告-代表销售报告</h4>
{{#bp-layout}}
	<div local-class='circle-left'>
		{{bp-row direction='col' rowModel=model.tmRepresentativeCircle0 conditions=model.tmRepresentativeCircleCondition}}
	</div>
	<div local-class='circle-right'>
		{{bp-row direction='col'  rowModel=model.tmRepresentativeCircle1 conditions=model.tmRepresentativeCircleCondition}}
	</div>
{{/bp-layout}}
{{bp-row direction='col' rowModel=model.tmRepresentativeBarLine0  conditions=model.tmRepresentativeBarLineCondition}}
<div class="dropdown-divider"></div>
<h4>历史销售报告-医院销售报告</h4>
{{#bp-layout}}
	<div local-class='circle-left'>
		{{bp-row direction='col' rowModel=model.tmHospitalCircle0 conditions=model.tmHospitalCircleCondition}}
	</div>
	<div local-class='circle-right'>
		{{bp-row direction='col'  rowModel=model.tmHospitalCircle1 conditions=model.tmHospitalCircleCondition}}
	</div>
{{/bp-layout}}
{{bp-row direction='col' rowModel=model.tmHospitalBarLine0 conditions=model.tmHospitalBarLineCondition}}